html, body{
    margin: 0;
    padding: 0;
    font-family: $content-font;
    font-size: 20px;
    line-height: 28px; /*1.4*/
}

h1, h2, h3, h4, h5, h6, .heading{
    font-family: $heading-font;
    font-weight: bold;
}

h1, .h1{
    font-weight: 900;
    font-size: 56px;
    line-height: 64px; /*1.14*/
}

h2, .h2{
    font-size: 48px;
    line-height: 56px; /*1.17*/
}

h3, .h3{
    font-size: 40px;
    line-height: 48px; /*1.20*/
}

h4, .h4{
    font-size: 32px;
    line-height: 40px; /*1.25*/
}

h5, .h5{
    font-size: 24px;
    line-height: 32px; /*1.33*/
}

h6, .h6{
    font-size: 20px;
    line-height: 28px; /*1.4*/
}

p, .p1{
    font-size: 20px;
    line-height: 28px; /*1.4*/

    & strong,
    & b{
        font-weight: bold;
    }
}

.p2{
    font-size: 16px;
    line-height: 24px; /*1.5*/
    
    & strong,
    & b{
        font-weight: 500;
    }
}

.p3{
    font-size: 13px;
    line-height: 20px; /*1.54*/
    
    & strong,
    & b{
        font-weight: bold;
    }
}