html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 28px;
  /*1.4*/
}

h1, h2, h3, h4, h5, h6, .heading {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

h1, .h1 {
  font-weight: 900;
  font-size: 56px;
  line-height: 64px;
  /*1.14*/
}

h2, .h2 {
  font-size: 48px;
  line-height: 56px;
  /*1.17*/
}

h3, .h3 {
  font-size: 40px;
  line-height: 48px;
  /*1.20*/
}

h4, .h4 {
  font-size: 32px;
  line-height: 40px;
  /*1.25*/
}

h5, .h5 {
  font-size: 24px;
  line-height: 32px;
  /*1.33*/
}

h6, .h6 {
  font-size: 20px;
  line-height: 28px;
  /*1.4*/
}

p, .p1 {
  font-size: 20px;
  line-height: 28px;
  /*1.4*/
}

p strong,
p b, .p1 strong,
.p1 b {
  font-weight: bold;
}

.p2 {
  font-size: 16px;
  line-height: 24px;
  /*1.5*/
}

.p2 strong,
.p2 b {
  font-weight: 500;
}

.p3 {
  font-size: 13px;
  line-height: 20px;
  /*1.54*/
}

.p3 strong,
.p3 b {
  font-weight: bold;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: 32px;
  padding-left: 32px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -32px;
  margin-left: -32px;
}

.col {
  position: relative;
  width: 100%;
  padding-right: 32px;
  padding-left: 32px;
}

@media screen and (min-width: 576px) {
  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
}

button {
  appearance: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background: transparent;
  background-color: transparent;
  font: inherit;
}

.btns__item {
  vertical-align: middle;
  margin-left: 16px;
}

.btns__item:first-child {
  margin-left: 0px;
}

.header {
  display: block;
  width: 100%;
  padding: 40px 0px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: block;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header__logo {
    max-width: 200px;
  }
}

.header__logo-img {
  display: block;
  width: 100%;
  height: auto;
}

.header__btn {
  padding: 8px 12px;
}

.btn {
  display: inline-block;
  background-color: #FFFFFF;
  color: #5101A6;
  border-radius: 6px;
  font-weight: 900;
  font-size: 12px;
  line-height: 24px;
  /*2*/
  letter-spacing: 1px;
  /*0.083em*/
  text-transform: uppercase;
  padding: 12px 16px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

.btn_icon {
  padding: 12px;
  background: #5101A6;
  border-radius: 68px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn__icon {
  display: block;
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.btn__icon_play {
  background-image: url(../img/dist/icons/play.svg);
}

.moon {
  position: relative;
}

.moon::before {
  content: '';
  display: block;
  width: 112.68%;
  height: 112.68%;
  left: -6.35%;
  top: -5.63%;
  position: absolute;
  z-index: 5;
  opacity: 0.05;
  border: 2px solid #FFFFFF;
  border-radius: 100%;
}

.moon__img {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 24px 24px 80px rgba(56, 11, 103, 0.3);
  border-radius: 100%;
}

.hero {
  position: relative;
  padding-bottom: 96px;
}

.hero__bg {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 608px;
  z-index: -1;
  background-image: url("../img/dist/hero__bg.jpg");
  background-size: cover;
}

.hero__header {
  margin-bottom: 64px;
}

.hero__text-content {
  color: #fff;
}

.hero__caption {
  margin-top: 0px;
  margin-bottom: 48px;
}

.hero__description {
  margin-top: 0px;
  margin-bottom: 48px;
}
