.tabs{

    &__controls{
        margin-top: 0px;
        padding: 0px;
        list-style: none;
        margin-bottom: 100px;
        
        @media screen and (min-width: 768px) {
            display: flex;
            min-height: 48px;
            align-items: flex-end;
            justify-content: flex-start;
            margin-bottom: 32px;
        }
    }

    &__control{
        font-family: $content-font;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px; /* 1.5*/
        letter-spacing: 0.5px;
        color: #200142;
        padding-bottom: 10px;
        border-width: 2px;
        border-color: transparent;
        border-bottom-style: solid;
        cursor: pointer;
        transition: color .25s ease;
        margin-bottom: 20px;

        @media screen and (min-width: 768px) {
            margin-left: 48px;
            margin-bottom: 0px;
            &:first-child{
                margin-left: 0;
            }
        }
    
        &_active{
            color: #5101A6;
            border-color: #5101A6;
        }
        &:hover{
            color: #5101A6;
        }
    }

    &__tab{
        display: none;
        
        &_active{
            display: block;
        }
    }
}
