.card{
    text-decoration: none;
}

.card__img{
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 24px;
    border: none;
}

.card__text{
}

.card__caption{
    font-family: $heading-font;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px; /*1.71*/
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #5101A6;
}

.card__description{
    font-family: $content-font;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px; /*1.54*/
    color: #000000;
}