.footer{
    background-image: url(../img/dist/footer__bg.jpg);
}

.footer__form{
    padding-top: 72px;
    padding-bottom: 112px;
}

.footer__text{
    color: #fff;
    text-align: center;
    margin-bottom: 32px;
}

.footer__caption{
    margin-top: 0px;
    margin-bottom: 32px;
}

.footer__description{
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 28px; /* 1.4*/
    color: #FFFFFF;
}

.footer__bottom{
    padding: 24px 0px;
    background-color: rgba(11, 11, 11, 0.5);
}

.footer__bottom-img{
    width: 151.38px;
    height: auto;
    display: block;
    margin: 0 auto;
}